:root {
    font-family: 'Times New Roman', Times, serif;

}

body {
     font-family: var(--default-font-family);
     background-color: #f4f4f4;
     padding: 20px;
     margin: 10px;
}
 h1,h2 {
text-align: center;
font-family: var(--default-font-family);
}

p {
    font-size: 25px;
    font-family: var(--default-font-family);
}

@media(max-width:900px)  {
body {
    max-width: 90%;
    text-align: center;
}
}

footer {
    margin:auto;
    padding: 10px;
    font-size: 20px;
    font-family: var(--default-font-family);

}

a {
    text-align: center;
}
 

